.details-loader-container,
.card-details-container {
  width: 500px;
  background-color: rgba(241, 241, 241, 0.7);
  height: 100vh;
}

.card-details-container {
  position: relative;
}

.card-details-container__btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-details {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.card-details__title {
  font-size: 30px;
}

.detail-category {
  font-weight: 600;
}

.card-details__details {
  padding: 20px;
  text-align: left;
  font-size: 14px;
}

.card-details__image {
  width: 70%;
  margin: 0 auto;
}

.card-details__description {
  padding: 20px 30px;
  font-size: 13px;
}
