@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@500;700&family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background-color: rgba(242, 245, 70, 0.467);
  border: 0.5px solid;
  height: 32px;
  width: 60px;
  transition: 0.5s all;
}

.btn_close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn:hover {
  background-color: rgba(247, 250, 72, 0.643);
}

.title {
  font-weight: 500;
}

.app-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.main-section {
  width: 100%;
}

.details-section {
  width: auto;
  max-height: 100vh;
  z-index: 5;
  background-color: white;
}
