.data-tile {
  background-color: rgba(97, 97, 97, 0.026);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

#new {
  animation: backlight_disappeare 10s ease;
}

@keyframes backlight_disappeare {
  from {
    box-shadow: 0px 0px 10px rgba(4, 135, 24, 0.766);
  }

  to {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}