.left-section {
  width: 100%;
}

.shaded-wrapper::after {
  content: '';
  background: #00000071;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}

.shaded-wrapper {
  max-height: 100vh;
  overflow: hidden;
}

.search-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: rgba(241, 241, 241, 0.7);
}

.cards-loader-container {
  width: 100%;
  padding: 40px 0px 0px 0px;
}

.search-section,
.cards-section {
  padding: 20px 0px 35px 0px;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: auto;
  max-height: 100vh;
  z-index: 5;
  background-color: white;
}

.pagination-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 0px 0px 35px 0px;
}
