.country-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.autocomplete {
  position: absolute;
  left: 0;
  top: 75px;
  width: inherit;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  height: auto;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.autocomplete__item {
  padding: 5px;
  font-size: 14px;
  border-bottom: 0.3px rgba(0, 0, 0, 0.1);
}

.autocomplete__item:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  transition: 0.3s ease;
}
