#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0px 20px 0px;
  margin: 0;
}

.data-tiles {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.main-page-hr {
  margin: 40px 0px 20px 0px;
}

.title {
  font-size: 23px;
  margin: 50px;
}
