:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 0px 20px 0px;
  margin: 0;
}

.data-tiles {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #a5a5a8;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-page-hr {
  margin: 40px 0px 20px 0px;
}

.title {
  font-size: 23px;
  margin: 30px;
}
